legacy-peer-deps=true
enable-pre-post-scripts=true
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CDCAAD65-37F0-428D-B1E8-113E5B971BA8